.console {
    width: 530px;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.589);
    color: aliceblue;
    border-radius: 15px;
    margin: 3px;
    padding: 10px;
    overflow: hidden;
 }

.current_betting_ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -160px;
}

.current_betting_li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: large;
    background-color: rgb(117, 34, 195);
    border-radius: 44px;
}

.current_betting_li_win {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: large;
    background-color: rgb(34, 195, 37);
    border-radius: 44px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 5,
  'wght' 900,
  'GRAD' 600,
  'opsz' 88,
}

.betting_console_conteiner {
    background-color: rgb(51, 46, 46);
    color: aliceblue;
    margin: 8px;
    border-radius: 10px;
    border-radius: 2px solid rgb(51, 50, 50);
    padding: 6px;
}

.alert_lose {
    left: 540px;
    top: -19px;
    transition: all 0.5s ease-out;
    background-color: rgb(182, 21, 21);
    color: rgb(255, 255, 255);
    padding: 70px;
    width: 560px;
    position: relative;
    font-size: 13px;
    border-radius: 20px;
    z-index: 3;
}

@media (max-width:480px) {
    .console {
        width: 400px;
        height: 80px;
        padding: 5px;
        border-radius: 15px;

    }
    .current_betting_ul {
        position: relative;
        top: -120px;
    }

    
    .alert_lose {
        left: 540px;
        top: -19px;
        padding: 50px;
        width: 500px;
        position: relative;
    }
}
@media (max-width:360px) {
    .console {
        width: 330px;
        height: 80px;
        padding: 5px;
        border-radius: 15px;

    }
}


@media (max-width:320px) {
    .console {
        width: 300px;
        height: 80px;
        padding: 5px;
        border-radius: 15px;

    }
}


