body {
    background: url(/img//carl-raw-o59Gt5O4QZ4-unsplash.jpg) ; 
     background-size: cover;
    /* background-color: rgb(53, 62, 67); */
    padding: 10px;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.num_ul {
    width: 530px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 7px;
    background-color: rgba(0, 0, 0, 0.634);
    border-radius: 20px;
}
.num_li {
    width: 42px;
    height: 42px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    font-size: x-large;
    cursor: pointer;
    
}
.reset_num_li {
    width: 42px;
    height: 42px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    font-size: x-large;
    cursor: pointer;
    
}
.click_num_li {
    width: 42px;
    height: 42px;
    background-color: rgb(17, 100, 4);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    font-size: x-large;
    cursor: pointer;
    
}

@media (max-width:420px) {
    .num_ul {
        width: 400px;
        padding: 8px;
    }
    .num_li {
        width: 34px;
        height: 34px;
        margin: 2px;
        font-size: large;
    }
    .reset_num_li {
        width: 34px;
        height: 34px;
        margin: 2px;
        font-size: large;
        
    }
    .click_num_li {
        width: 34px;
        height: 34px;
        margin: 2px;
        font-size: large;
    }
}

@media (max-width:360px) {
    .num_ul {
        width: 330px;
        padding: 5px;
    }
    .num_li {
        width: 32px;
        height: 32px;
        margin: 2px;
        font-size: large;
    }
    .reset_num_li {
        width: 32px;
        height: 32px;
        margin: 2px;
        font-size: large;
        
    }
    .click_num_li {
        width: 32px;
        height: 32px;
        margin: 2px;
        font-size: large;
    }
}

@media (max-width:320px) {
    .num_ul {
        width: 290px;
        padding: 8px;
    }
    .num_li {
        width: 30px;
        height: 30px;
        margin: 2px;
        font-size: large;
    }
    .reset_num_li {
        width: 30px;
        height: 30px;
        margin: 2px;
        font-size: large;
        
    }
    .click_num_li {
        width: 30px;
        height: 30px;
        margin: 2px;
        font-size: large;
    }
}
